<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ElysianBytes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <nav class="nav-bar flex-center nav-bar-top">
        <div class="nav-con nav-1">
            <img src="images/title.png" alt="">
        </div>
        <div class="nav-con nav-2 flex-center">
            <a href="#album" class="link-1 link">
                Browse
            </a>
            <a href="#trend" class="link-2 link">
                Trend
            </a>
            <a href="#main-footer" class="link-3 link">
                About
            </a>
        </div>
        <div class="nav-con nav-3 flex-center">
            <a href="/register" class="but-1 nav-but">
                Sign Up
            </a>
            <a href="/login" class="but-2 nav-but">
                Log In
            </a>
        </div>
    </nav>